langchain
openai
python-dotenv
langchain_community
pypdf
arxiv
yt_dlp
langchain-text-splitters
langchain_huggingface
langchain_ollama
faiss-cpu
langchain_chroma
langchain_groq
uvicorn
duckduckgo-search
langserve
sse_starlette
validators
git+https://github.com/Shiv-am-04/pytube.git@master#egg=pytube
youtube-transcript-api
unstructured
langchain_nvidia_ai_endpoints
crewai
liteLLM
pinecone

neo4j

langgraph
cassio
tiktoken

google-generativeai
pdf2image
